@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

trix-toolbar {
    @apply sticky top-0 z-10 bg-white;
}

.taggle_list {
    @apply leading-8;
}

.taggle_list li {
    @apply inline-flex;
}

.taggle_list .taggle {
    @apply relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 cursor-pointer mr-1 transition-all duration-300;
}

.taggle_list .taggle .taggle_text {
    @apply text-sm font-medium text-gray-900;
}

.taggle_list .taggle_hot {
    background: #cac8c4;
}

.taggle_list .taggle .close {
    @apply text-sm absolute right-0 mr-3 leading-none text-gray-400 opacity-0 pointer-events-none cursor-pointer;
}

.taggle_list .taggle:hover {
    @apply px-3 py-0.5 pr-6 transition-all duration-300;
}

.taggle_list .taggle:hover > .close {
    @apply opacity-100 pointer-events-auto;
}

.taggle_list .taggle .close:hover {
    color: #990033;
}

.taggle_placeholder {
    @apply absolute top-0 left-0 text-gray-400 py-0.5;
}

.taggle_input {
    @apply border border-transparent py-0.5 text-sm font-medium text-gray-900 focus:outline-none focus:ring-0 focus:border-transparent;
}

.taggle_sizer {
    @apply absolute;
    top: -500px;
    z-index: -1;
    visibility: hidden;
}
